
.navlinks  span:hover {
  background: #a2e3e3;
  border-radius: 4px;
  color: #133743;
}

.navlinks span {
  color: #fff;
  padding: 1rem
}

.Mui-active {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}